body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

i{
  color:#d8b00f
}

.cart {
  font-size: 24px
}

main {
  flex: 1;
}

.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding:30px 0;
}

.App p {
  font-size: 25px;
}

.App h6{
  font-size: 18px;
}

h6 span {
  color : yellow;
}
.main-section {
  background-color: #212529;
  padding:70px 0;
  color:#fff;
}

.recipe-section{
  border-top: solid rgba(255,255,255,.1) 1px;
  box-shadow: inset 0 10px 30px -16px #000;
  background-color: #212529;
  color:#fff;
}

.main-title h1 {
  font-size:60px;
}

.recipes {
  margin-left:70px;
  font-size:40px;
}

.client section{
  padding: 0 0 60px 0;
}

.min-height {
  min-height: 100vh;
}

.bars{
  font-size:30px;
}

.btn-side-lr {
  display: none;
}

.about{
  background-color: rgb(0, 0, 0);
  padding: 40px;
  color:#fff;
}

.about-section{
  padding-top: 60px;
}

.client {
  background-image: url(../public/images/bg.jpg);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  height:auto;
  width: 100%;
}

.client-col-box{
  border-radius: 33px;
  -webkit-border-radius: 33px;
  -moz-border-radius: 33px;
  -ms-border-radius: 33px;
  -o-border-radius: 33px;
  background-color: rgb(255, 0, 0);
}

.contact{
  background-color: #ffffff;
  font-size:40px;
  text-align: center;
  padding:30px 0;
}

footer {
  background-color: #d8b00f;
  padding: 40px 0 0 0;
}

.text-box {
  resize: none;
}

:focus {
  outline: none;
}

.text-box::placeholder {
  padding: 20px 0;
}

ul {
  list-style: none;
  width: 600px;
}

li {
  display: inline-block;
  margin: 0 20px;
}

li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

li a:hover {
  color: white;
}

.newsletter {
  font-size:23px;
  font-weight: bold;
  color: #fff;
  margin-right:30px;
}

.copyright {
  background: #fff;
  font-size: 18px;
}

.confirm-box__actions button{
  background: transparent;
  border:1px solid rgb(255, 0, 0);
  color:rgb(0, 0, 0);
  padding:5px 9px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: block;
  margin: auto;
}
.confirm-box__actions button:nth-child(1){
  border:1px solid rgb(51, 255, 0);
}

.table
{
    background-color: #fff;
    padding:20px;
}
thead
{
    background-color: rgb(243, 243, 243);
}

@media (max-width:1260px) {
  .navitem {
    display: none;
  }
}

@media (max-width:1149px) {
  .navitem {
    font-size: 15px;
  }
  .main-title h1{
    font-size:50px;
  }
}

@media (max-width:990px) {
  .main-title h1{
    font-size:35px;
  }
  .table thead
  {
      display: none;
  }
  .table , .table tbody, .table tr, .table td{
      width: 100;
      display: block;
  }
  .table tr
  {
      margin-bottom:15px;
      border-bottom: 1px solid #000;
  }
  .table td{
      text-align:right;
      padding-left: 25%;
      position: relative;
  }
  .table td::before{
      content: attr(data-label);
      position: absolute;
      left:0;
      width:50%;
      padding-left:15px;
      font-size:15px;
      font-weight:bold;
      text-align:left;
  }
}

@media (max-width:1120px) {
  .btnlr {
    margin: 0 auto;
  }
}

@media (max-width:768px) {
  .logo-img {
    width: 130px;
  }
  .btnlr {
    display: none;
  }
  .btn-side-lr {
    display: block;
  }
  .footer-ul ul{
    display: none;
  }
}

@media (max-width:480px) {
  .newsletter{
    display: none;
  }
 .rec-arrow-right,
 .rec-arrow-left{
    display: none !important;
  }
}