body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  flex: 1;
}

.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.client section{
  padding: 0 0 60px 0;
}

.min-height {
  min-height: 100vh;
}

.bars{
  font-size:30px;
}

.btn-side-lr {
  display: none;
}

.about{
  background-color: rgb(0, 0, 0);
  padding: 40px;
  color:#fff;
}

.about-section{
  padding-top: 60px;
}

.client {
  background-image: url(../public/images/bg.jpg);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  height:auto;
  width: 100%;
}

.client-col-box{
  border-radius: 33px;
  -webkit-border-radius: 33px;
  -moz-border-radius: 33px;
  -ms-border-radius: 33px;
  -o-border-radius: 33px;
  background-color: rgb(255, 0, 0);
}

.contact{
  background-color: #ffffff;
  font-size:40px;
  text-align: center;
  padding:30px 0;
}

footer {
  background-color: #d8b00f;
  padding: 40px 0 0 0;
}

.text-box {
  resize: none;
}

:focus {
  outline: none;
}

.text-box::placeholder {
  padding: 20px 0;
}

ul {
  list-style: none;
  width: 600px;
}

li {
  display: inline-block;
  margin: 0 20px;
}

li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

li a:hover {
  color: white;
}

.newsletter {
  font-size:23px;
  font-weight: bold;
  color: #fff;
  margin-right:30px;
}

.copyright {
  background: #fff;
  font-size: 18px;
}

@media (max-width:1149px) {
  .navitem {
    font-size: 15px;
  }
}

@media (max-width:1120px) {
  .navitem {
    display: none;
  }

  .btnlr {
    margin: 0 auto;
  }
}

@media (max-width:768px) {
  .logo-img {
    width: 130px;
  }
  .footer-ul ul{
    display: none;
  }
}

@media (max-width:480px) {
  .btnlr {
    display: none;
  }

  .btn-side-lr {
    display: block;
  }

  .newsletter{
    display: none;
  }
}